<header class="site-header" [class.fixed]="navFixed">
  <div class="container">
    <div class="d-flex justify-content-betwwen top-bar">
      <div class="site-logo">
        <img src="assets/images/site-logo.png" alt="loho" />
      </div>
      <div class="col-right text-md-right text-primary">
        <a class="text-red d-md-none d-block" href="tel:7132218522">
          <fa-icon [icon]="faPhone"></fa-icon>
        </a>
        <div class="d-md-block d-none">
          Call <a class="text-red font-bold" href="tel:7132218522"> 713-221-8522 </a>to speak to an Admissions Counselor
          or complete the form below to learn more!
        </div>

      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item" dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
            <a href id="basic-link" dropdownToggle (click)="false" class="nav-link dropdown-toggle"
              aria-controls="basic-link-dropdown">degree programs </a>
            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
              <li *ngFor="let choice of items">
                <a class="dropdown-item" href="#">{{choice}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
