/* You can add global styles to this file, and also import other style files */
@import "./variable.scss";
@import "./assets/fonts/adobe-garamond-pro/stylesheet.css";

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  color: $bodyTextColor;
  line-height: 1.6;
  ;
  font-family: 'Adobe Garamond Pro';
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
color: inherit;
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  max-width: 1230px;
}

.text-red {
  color: $textRed;
}
.btn-danger{
  background-color: $textRed ;
  border-color: $textRed;
}
.bg-primary {
  background-color: $textPrimary !important;
}

.text-primary {
  color: $textPrimary !important;
}

.font-bold {
  font-weight: $fontBold;
}

.font-24 {
  font-size: $font24;
}

.home-banner {
  .carousel-control {
    display: none;
  }
}

.home-tab-sec {
  .nav {
    justify-content: space-between;
    margin: 5rem 0;

    @media screen and (max-width:991px) {
      justify-content: unset;
      margin: 3rem 0;
    }

    .nav-item {
      width: 25%;

      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3) {
        width: 33.33%;
      }

      @media screen and (max-width:767px) {
        width: 50%;
        &:nth-last-child(2),
        &:nth-last-child(1){
          width: 50%;
        }
        &:nth-last-child(3) {
          width: 3100%
        }
      }
    }
  }

  .nav-link {
    font-size: 1.8rem;
    background-color: #f1f1f1;
    text-transform: uppercase;
    border: 1px solid #e9e9e9;
    color: $textPrimary;
    padding: 2rem 3rem;
    margin: 5px;
    text-align: center;
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:991px) {
      padding: 1.7rem 1rem;
    }

    @media screen and (max-width:767px) {
      padding: 1.2rem 1.5rem;

      font-size: 1.6rem;
    }

    &.active {
      background-color: $textRed;
      border-color: $textRed;
    }
  }
}

.sec-paadingfull {
  padding: 5rem 0;
}

.widget-title {
  font-size: $font24;
  font-weight: $fontBold;
  color: $textPrimary;
  margin-bottom: 2rem;
}